.warp {
    display: flex;
    overflow-x: auto;
    overflow-x: hidden;
}
.book-item {
    display: flex;
    flex-direction: column;
    
    width: 65px;
    img {
        width: 65px;
        height: 0 0 95px;
        box-shadow: 0 1px 3px rgba(0,0,0,.3);
    }
    .book-desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            margin: 8px 0 5px 0;
            font-size: 14px;
            line-height: 1.3;
        }
        span {
            font-size: 12px;
            justify-content: space-between;
            display: flex;
            justify-content: center;
        }
    }
}

