.van-icon {
    font-size: 20px;
    color: #333;
}
.van-nav-bar {
    background: rgba(0,0,0,0)
}
.van-hairline--bottom:after{
    border: 0;
}
.van-nav-bar__text {
    color: #333;
}
.van-icon-search {
    margin-right: 16px;
}