.title-wrapper {
    background:#cecece!important;
}
.menu-wrapper {
    background:#cecece!important;

}
.more {
    background:#cecece!important;
}
.slider-left .catalog {
    background:#cecece!important;

}

.slider-left .catalog-list {
    background:#cecece!important;

}
.setting-wrapper {
    background:#cecece!important;
}
.slider-left .chapter-bar {
    background: #cecece!important;
}
.reader {
    background:#cecece!important;
}