.title-wrapper {
    background:#a9c1a9!important;
    color: #404c42!important;
}
.menu-wrapper {
    background:#a9c1a9!important;

}
.more {
    background:#a9c1a9!important;
}
.slider-left .catalog {
    background:#a9c1a9!important;

}

.slider-left .catalog-list {
    background:#a9c1a9!important;

}
.slider-left .chapter-bar {
    background: #a9c1a9!important;
}
.setting-wrapper {
    background:#a9c1a9!important;
}
.reader {
    background:#a9c1a9!important;
}