.title-wrapper {
    background:#c6c2b6!important;
}
.menu-wrapper {
    background:#c6c2b6!important;

}
.more {
    background:#c6c2b6!important;
}
.slider-left .catalog {
    background:#c6c2b6!important;

}

.slider-left .catalog-list {
    background:#c6c2b6!important;

}
.slider-left .chapter-bar {
    background: #c6c2b6!important;
}
.setting-wrapper {
    background:#c6c2b6!important;
}
.reader {
    background:#c6c2b6!important;
}